*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
 }

body{
	background-image: url("../img/fundo.jpg");
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.principal-secao-cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10vh;
}


label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}


.invisivel{
	display: none!important;
}

.tamanho-card{
	margin: 2vh;	
	width: 30vw;	
}

/* INICIO - RODAPE */
.rodape{
    background-color: rgb(80, 79, 79);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.texto-rodape{
    margin-left: auto;
    margin-right: auto;
}

.texto-rodape p{
	color: white;
	font-size: 1.2em;
    text-align: center;
}

.icones{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .7%;
    width: 40%;
}

.icone{
    color: white;
    font-size: 3em;
    text-decoration: none;
}

.icone:hover{
	color:black;
    text-shadow: 0 0 20px white;
    transition: 1s;
}
/* TÉRMINO - RODAPE */